body {
    padding: 40px 0;
}


.nav-tabs {
    margin-bottom: 10px
}

.nav-tabs > li > a,
.btn,
.form-control,
.form-group-lg .form-control,
.input-group-lg .form-control,
.modal-content,
.alert {
    border-radius: 0;
}
.modal-sm {
    /*width: 460px;*/
	width: 840px;
}
.modal-header,
.modal-body,
.modal-footer {
    padding: 20px;
}

.text-muted {
    color: #ddd
}


.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 10px;
}

.btn.disabled {
    opacity: 0.4;
}


.bordered {
    position: relative;
    margin: 0;
}
.bordered > div {
    padding: 0;
    position: static;
}
.bordered > div:last-child:after {
    content: "";
    border-right: 1px solid #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
}
.bordered > div > .inner {
    padding: 0 15px;
}

.article-grid a,
.article-grid a:hover {
    display: block;
    text-decoration: none;
    color: #333;
}
.article-grid a > div {
    padding: 30px;
    background: #fafafa;

}
.article-grid a > div > h3 {
    height: 80px;
    margin: 0 0 10px 0;
}
.article-grid a:hover > div {
    background: #eee;
}
@media (min-width: 1400px) {
    .container {
        width: 1300px;
    }
}
